<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FolderLanguage" value="l18n"/>
		<add key="FilePathLanguage" value="idioma."/>
	</appSettings>
	<connectionStrings>
  <add name="ServicesConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SeguridadDB;Integrated Security=True" />
  <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MYIMBO;Integrated Security=True" />
  <add name="WinFormApp.Properties.Settings.MYIMBOConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MYIMBO;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>